.home{
  background-image: linear-gradient(180deg, rgba(79, 117, 255, 0.253) 10%, rgba(22, 21, 82, 0.515) 72%),
  url(img/univ.jfif);
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.contenido-home{

  margin: auto;
  text-align: center;
}

.home-info span {
  color: rgba(0,178,255,1);
}
.links{
  margin-top: 20px;
}
@media (max-width: 600px) {
  .home-info{
      font-size: small;
  }
}
.btn {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del elemento padre */
  display: inline-block; /* Asegura que se comporten como botones */
}
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: 'Bruno Ace SC', sans-serif;
  justify-content: center;
}
.home h1{
  display: block;
  font-size: 5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.home p{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight:bolder ;
  unicode-bidi: isolate;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.wrapper .icon {
  position: relative;
  background: rgba(0, 179, 255, 0.63);
  border-radius: 14px;
  margin: 10px;
  width: 250px;
  height: 70px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #000000;
  color: rgb(255, 255, 255);
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #000000;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: rgba(0, 179, 255, 0.63);
  color: #000000;
}






@media (max-width: 600px) {
  .home {
      background-image: url(img/univ.jfif); /* Cambia 'ruta/de/imagenB.jpg' por la ruta de la imagen B */

  }
}